@use '../../../sass/common/reset' as *;
@use '../../../sass/common/variables' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  font-size: 1.8rem;
  line-height: 1;
  color: $txt-color;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
